

.body {
	font-family:Verdana, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#000000;
	padding:0 30px 0 30px;
}

.body a {
	color:#6F0000;
	text-decoration:none;
}


.body a:hover {
	color:#6F0000;
	text-decoration:underline;
}


.bodyTitle {
	font-family:Verdana, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#000000;
	font-weight:bold;
}


.cabinDes {
	font-family:Verdana, sans-serif;
	font-size:10px;
	line-height:14px;
	color:#000000;
}


.cabinDes a {
	color:#6F0000;
	text-decoration:none;
}


.cabinDes a:hover {
	color:#6F0000;
	font-weight:bold;
	text-decoration:none;
}


.cabinNme {
	font-family:Verdana, sans-serif;
	font-size:16px;
	line-height:18px;
	color:#6F0000;
	font-weight:bold;
}


.cc {
	font-family: Verdana, Helvetica, sans-serif;
	font-size:10px;
	color:#C1C3C3;
	border-top:1px solid #E2E5E7;
	padding-top:5px;
}


.cc a {
	color:#C1C3C3;
	text-decoration:none;
}


.cc a:hover {
	color:#C1C3C3;
	text-decoration:underline;
}

.cc2 {
	font-family: Verdana, Helvetica, sans-serif;
	font-size:10px;
	color:#C1C3C3;
	padding-top:5px;
}

.cc3 {
	font-family: Verdana, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-top:5px;
}


.formHeader {
	background-color:#841D17;
	color:#FFFFFF;
	font-weight:bold; 
	padding-left:10px; 
	font-size:12px; 
	border: 1px solid #49100D;
}


.homeText {
	font-family:Verdana, sans-serif;
	font-size:10px;
	line-height:14px;
	color:#000000;
}


.homeText a {
	color:#000000;
	text-decoration:none;
}

.homeText a:hover {
	color:#6F0000;
	text-decoration:none;
}


.homeText2 {
	font-family:Verdana, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#FFFFFF;
	padding-left:10px;
}


.mapText {
	background-repeat:no-repeat;
	background-color:#841D17;
	font-family:Verdana, sans-serif;
	font-size:10px;
	line-height:14px;
	color:#404040;
	padding-left:100px;
}


.mapText a {
	color:#404040;
	text-decoration:none;
}


.mapText a:hover {
	color:#6F0000;
	font-weight:bold;
	text-decoration:none;
}


.mapText2 {
	background-repeat:no-repeat;
	background-color:#841D17;
	font-family:Verdana, sans-serif;
	font-size:10px;
	line-height:14px;
	color:#404040;
}


.mapText2 a {
	color:#404040;
	text-decoration:none;
}


.mapText2 a:hover {
	color:#6F0000;
	font-weight:bold;
	text-decoration:none;
}

#mapB {
	font-weight:bold;
	color:#6F0000;
	text-decoration:none;
}



.input1 {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:12px;
	border: 1px solid #BFB18E;
}


.inputBorder1 {
	border-bottom:1px solid #DFD1B1; 
	border-top:1px solid #FFFFFF; 
	padding:5 0 5 10;
}


.inputBorder2 {
	border-bottom:1px solid #DFD1B1; 
	border-top:1px solid #FFFFFF; 
	padding:5 10 5 0;
}


.inputBorder3 {
	border-top:1px solid #FFFFFF; 
	padding:5 10 5 10;
}


.inputBorder4 {
	padding:0 0 5 10;
	border-bottom:1px solid #DFD1B1; 
}


.inputBorderSubmit {
	border-bottom:1px solid #DFD1B1; 
	border-top:1px solid #FFFFFF; 
	padding:10 0 10 0;
}


.OCStyle {
	background-color:#FFFFFF;
	border-left:1px solid #B3B3B3; 
	border-bottom:1px solid #B3B3B3; 
	border-top:1px solid #B3B3B3;
}


.OCStyle2 {
	border:1px solid #B3B3B3; 
}


.OCStyle3 {
	color:#FFFFFF;
	background-color:#6F0000;
	border-bottom:1px solid #B3B3B3; 
}


.OCStyle3 a {
	color:#FFFFFF;
	text-decoration:none;

}


.OCStyle3 a:hover {
	color:#FFFFFF;
	text-decoration:underline;

}




.OCStyle4 {
	color:#000000;
	border-bottom:1px solid #B3B3B3; 
}



.specTitle{
	font-weight: bold;
	color:#6F0000;
	border-right:1px solid #B3B3B3; 
	border-bottom:1px solid #B3B3B3; 
	border-top:1px solid #B3B3B3; 
	padding:0 10px 0 10px;
	background-color:#FFFFFF;
	text-decoration:none;
}


.specTitle a{
	background-color:#FFFFFF;
	font-weight: bold;
	color:#6F0000;
	text-decoration:none;
}


.specTitle a:hover{
	background-color:#FFFFFF;
	font-weight: bold;
	color:#6F0000;
	text-decoration:none;
}





td {
	font-family:Verdana, Helvetica, sans-serif;
	font-size:11px;
}


td.Time {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:9pt;
	color:#CFD1D2;
}




