Body {
	scrollbar-face-color:#7FA8E0;
	scrollbar-arrow-color:#437FD2;
	scrollbar-track-color:#DDDFD3;
	scrollbar-shadow-color:#ffffff;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#437FD2;
	scrollbar-darkshadow-Color:#437FD2;
	background-position: 50% 0%;
	background-repeat:repeat-y;
	}	
	
.border {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-LEFT: #000000 1px solid;
	BORDER-BOTTOM: #000000 1px solid;
	}	
		
.border2 {
	BORDER-RIGHT: #000000 1px solid;
	}
	
input{ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px; 
	font-weight:none;
	color:#000000;
	} 
	
textarea{ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px; 
	font-weight:none;
	color:#000000;
	line-height:18px;
	} 
	
.input1{ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px; 
	font-weight:none;
	color:#000000;
	border: 1px solid #888C91;
	background-color:#F7FAFD;
	} 
	
.input2{ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px; 
	font-weight:none;
	color:#000000;
	border: 1px solid #888C91;
	} 
	
	
.imgA{
	border:#981110 solid 1px;
	}	


  
.Nav3 {
    BORDER-BOTTOM: #C0C0C0 1px solid;
    COLOR: #000000;
    FONT-FAMILY: Arial, sans;
    FONT-SIZE: 11px;
    PADDING-RIGHT: 5px;
    TEXT-DECORATION: none;
	}


.Nav3 A {
    COLOR: #000000;
    FONT-FAMILY: Arial, Sans;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none;
}

.Nav3 A:hover {
    TEXT-DECORATION: underline;
	}
	
	
.Nav {
    BORDER-BOTTOM: #C0C0C0 1px solid;
    COLOR: #000000;
    FONT-FAMILY: Arial, sans;
    FONT-SIZE: 11px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 5px;
    TEXT-DECORATION: none;
	}

  
.Nav2 {
    COLOR: #000000;
	font-weight: bold;
    FONT-FAMILY: Arial, sans;
    FONT-SIZE: 11px;
    PADDING-LEFT: 15px;
    TEXT-DECORATION: none;
	}
.input1{ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px; 
	font-weight:none;
	color:#000000;
	border: 1px solid #888C91;
	background-color:#F7FAFD;
	} 
	
	
.inputRadio{ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px; 
	font-weight:none;
	margin-left:10px; 
	margin-right:5px;
	margin-bottom:-2px;
	margin-top:5px;
	color:#000000;
	} 
	
	
.inputSubmit{ 
	font-family: verdana, arial, sans-serif;
	font-size: 10px; 
	font-weight:Bold;
	border: 1px outset #841D17;
	background-color:#841D17;
	padding-top:2px;
	padding-bottom:2px;
	color:#FFFFFF;
	} 
	
.redBody {
	font-family: arial, sans-serif;
	font-size: 11px; 
	font-weight:normal;
	color:#000000;
	}	
	
	
.redBody a {
	font-family: arial, sans-serif;
	font-size: 11px; 
	font-weight:bold;
	color:#E00000;
	text-decoration:none;
	}	
	
.redBody a:hover {
	font-family: arial, sans-serif;
	font-size: 11px; 
	font-weight:bold;
	color:#E00000;
	text-decoration:underline;
	}	
	
	
.surBody {
	font-family: arial, sans-serif;
	font-size: 11px; 
	font-weight:normal;
	color:#000000;
	}	
	
	
select{ 
	font-family: verdana, arial, sans-serif;
	font-size: 11px; 
	font-weight:none;
	color:#000000;
	} 
	
.surBody a {
	font-family: arial, sans-serif;
	font-size: 11px; 
	font-weight:normal;
	color:#000000;
	text-decoration:none;
	}	
	
.surBody a:hover {
	font-family: arial, sans-serif;
	font-size: 11px; 
	font-weight:normal;
	color:#841D17;
	text-decoration:underline;
	}	
	
	
.surHeader { 
	font-family: arial, sans-serif;
	font-size: 13px; 
	font-weight:Bold;
	color:#FFFFFF;
	} 
	

.surTitles {
	font-family: arial, sans-serif;
	font-size: 12px; 
	font-weight:Bold;
	color:#000000;
	}	
	

.surTitles a {
	font-family: arial, sans-serif;
	font-size: 12px; 
	font-weight:Bold;
	color:#000000;
	text-decoration:none;
	}	
	

.surTitles a:hover {
	font-family: arial, sans-serif;
	font-size: 12px; 
	font-weight:Bold;
	color:#6193D9;
	text-decoration:underline;
	}	
	

.surTitles2 {
	font-family: arial, sans-serif;
	font-size: 12px; 
	font-weight:Bold;
	color:#AFAFAF;
	}	
	

.surTitles2 a {
	font-family: arial, sans-serif;
	font-size: 12px; 
	font-weight:Bold;
	color:#AFAFAF;
	text-decoration:none;
	}	
	

.surTitles2 a:hover {
	font-family: arial, sans-serif;
	font-size: 12px; 
	font-weight:Bold;
	color:#841D17;
	text-decoration:underline;
	}	
	

.surTitles3 {
	font-family: arial, sans-serif;
	font-size: 17px; 
	font-weight:Bold;
	color:#000000;
	}	
